/* General Font */
body { 
    background-color: beige;
}
	
p, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

a, a:hover {
    color: orange;
}

/* Content Box */
.icon-container {
    width: fit-content; 
    border-radius: 5px; 
    padding: 15px; 
    margin: 0 auto;
}

.feature-container {
    width: 50vw;
    min-width: 300px; 
    padding: 15px; 
    margin: 0 auto;
}

.feature-container-logo {
    width: 80%; 
    max-width: 100px; 
    height:auto; 
    vertical-align: bottom;
}

.feature-container-img {
    width: 80%; 
    max-width: 250px; 
    height:auto; 
    vertical-align: bottom;
}

@media (min-width: 768px) {
    .feature-container-logo {
        float: right
    } 
    .feature-container-img {
        float: right
    }
}

.vertical-aligner {
    display: inline-block; 
    height: 40%; 
    vertical-align: middle;
}

/* Other */
.btn {
    background-color: beige; 
    outline: solid; 
    margin: 5px;
}

.icn {
    border-radius: 10px; 
    width: 40px; 
    height: auto; 
    margin: 10px;
}

.fading-element {
    opacity: 0;
}

/* Remove Scrollbar */
html {
    scroll-behavior: smooth;
    overflow: scroll; 
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

.icn:hover {
    height: auto;
    width: 50px;
    transition: ease-in-out 0.2s;
}

/* Mouse scroll */

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid lightgray;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: lightgray;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid lightgray;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 10px;
}

header img {
  width: 25px;
  height: auto;
}

#nba_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.search input::-webkit-input-placeholder {
  color: black;
}
.ui.search input:-moz-placeholder {
  color: black;
}
.ui.search input::-moz-placeholder {
  color: black;
}
.ui.search input:-ms-input-placeholder {
  color: black;
}

/* Search Bar */

.ui.search {
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
}

.title_heading {
  text-align: center;
}

#top {
  display: flex; 
  position: relative;
  margin-bottom: 10vh; 
  align-items: center; 
  justify-content: space-between;
  
}

@media (max-width: 768px) {
  #top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
  }
  .ui.search {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  .ui.search >.results {
    left: 20%
  }
}

.ui.category.search .results {
  width: 18em;
}

.headshot-max-size {
  max-height: 15%;
  max-width: 15%;
  vertical-align: middle;
}

.img-max-size {
  max-height: 30px;
  max-width: 5%;
  vertical-align: middle;
}

.dropdown-toggle {
  outline: none;
}

@media (max-width: 767px) {
  .img-max-size {
    max-height: 30px;
    max-width: 25%;
  }
  .headshot-max-size {
    max-height: 25%;
    max-width: 25%;
    vertical-align: middle;
  }
  
}