body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;

}
#social a {
height: 32px;
width: 32px;
margin: 0 1rem;
}
#social a:hover {
height: 36px;
width: 36px;
transition: ease-in-out 0.2s;
}